<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>FILL ME OUT</h1>
    <form action="/process" method="POST">
    {% csrf_token %}

        <p>Name: <input type="text" name="name"></p>

        <p>Dojo Locations: <select name="location">
            <option value="chicago">Chicago, IL</option>
            <option value="sanjose">San Jose, CA</option>
            <option value="seattle">Seattle, WA</option>
            <option value="boise">Boise, WA</option>
            <option value="tulsa">Tulsa, OK</option>
            <option value="berkley">Berkley, CA</option>
            <option value="burbank">Burbank, CA</option>
            <option value="oc">Orange County, CA</option>
            <option value="dallas">Dallas, TX</option>
            <option value="arlington">Arlington, VA</option>
            <option value="online">Online</option>
        </select></p>

        <p>Favorite Languages:</p>
        <input type="checkbox" name="language" id="css" value="css">
        <label for="css">CSS</label><br>
        <input type="checkbox" name="language" id="html" value="html">
        <label for="html">HTML</label><br>
        <input type="checkbox" name="language" id="java" value="java">
        <label for="java">Java</label><br>
        <input type="checkbox" name="language" id="js" value="js">
        <label for="js">JavaScript</label><br>
        <input type="checkbox" name="language" id="python" value="python">
        <label for="python">Python</label>

        <p>Gender:</p>
        <input type="radio" name="gender" id="male" value="male">
        <label for="male">Male</label><br>
        <input type="radio" name="gender" id="female" value="female">
        <label for="female">Female</label><br>
        <input type="radio" name="gender" id="neither" value="neither">
        <label for="neither">Neither</label>

        <p>Comment (optional): </p>
        <p><textarea name="comment" value="comment" id="comment" cols="50" rows="10"></textarea></p>

        <input type="submit" value="submit">

    </form>
</body>
</html>